@model ict.Models.ConferenceModel
@{
    IEnumerable<StateModel> StatesData = ViewData["State"] as IEnumerable<StateModel>;
}
@if (Model.Users.ToString() == ViewData["Username"].ToString())
{
    <div class="main-content container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>แก้ไขการจอง Tele Conference</h3>
                    @*<p class="text-subtitle text-muted">@ViewData["Username"]</p>*@
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class='breadcrumb-header'>
                        <ol class="breadcrumb">
                            @*<li class="breadcrumb-item"><a asp-action="Index">จอง Tele Conference</a></li>
                                <li class="breadcrumb-item active" aria-current="page">สร้างการจอง Tele Conference</li>*@
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
        <hr />
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tele Conference</h4>
                    <div class="text-danger">กรุณาใส่ข้อมูลให้ครบทุกช่อง ช่องไหนที่ไม่ทราบข้อมูลให้ใส่เครื่องหมาย ( - )</div>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group" style="display:none">
                            <label asp-for="ConID" class="control-label"></label>
                            <input asp-for="ConID" class="form-control" />
                            <div class="text-danger"> <p>@ViewData["ErrorNull"]</p></div>
                            <span asp-validation-for="ConID" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label asp-for="ConName" class="control-label">ผู้ขอใช้งาน</label>
                                    <input asp-for="ConName" class="form-control" />
                                    <span asp-validation-for="ConName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="ConDept" class="control-label">หน่วยงาน</label>
                                    <div class="col-md-10">
                                        @*ViewBag.CityList is holding all the cities values*@
                                    </div>

                                    @*<select asp-for="ConDept" class="form-control">
                                            <option value="" disabled selected>กรุณาเลือก</option>
                                            @foreach (var item in Officedata)
                                            {
                                                <option value="@item.OfficeName">@item.OfficeName</option>
                                            }
                                        </select>*@

                                    @*<select asp-for="ConDept" class="form-control"
                                                asp-items="new SelectList(Enum.GetValues(typeof(ict.enums.EnumOffice.Office)))">
                                            <option value="" disabled selected>เลือกหน่วยงาน</option>
                                        </select>*@
                                    <input asp-for="ConDept" class="form-control" value="@ViewData["OfficeName"]" readonly />
                                    <span asp-validation-for="ConDept" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="ConTel" class="control-label">โทรศัพท์</label>
                                    <input asp-for="ConTel" class="form-control" />
                                    <span asp-validation-for="ConTel" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Participant" class="control-label">กลุ่มผู้เข้าร่วมประชุม</label>
                                    <input asp-for="Participant" class="form-control" />
                                    <span asp-validation-for="Participant" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtDate" class="control-label">วันที่ประชุม</label>
                                    <input asp-for="DtDate" class="form-control" />
                                    <span asp-validation-for="DtDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtDate2" class="control-label">วันที่สิ้นสุดการประชุม</label>
                                    <input asp-for="DtDate2" class="form-control" />
                                    <span asp-validation-for="DtDate2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtState" class="control-label">สถานที่จัดประชุม</label>
                                    @*<input asp-for="DtState" class="form-control" />*@
                                    <select asp-for="DtState" class="form-control">
                                        <option value="" disabled>กรุณาเลือก</option>
                                        @foreach (var item in StatesData)
                                        {
                                            <option value="@item.S_Id">@item.S_Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="DtState" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtCuser" class="control-label">จำนวนผู้เข้าร่วมประชุม</label>
                                    <input asp-for="DtCuser" class="form-control" />
                                    <span asp-validation-for="DtCuser" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtTitle" class="control-label">เรื่อง/หัวข้อประชุม</label>
                                    <input asp-for="DtTitle" class="form-control" />
                                    <span asp-validation-for="DtTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtPres" class="control-label">ประธานการประชุม</label>
                                    <input asp-for="DtPres" class="form-control" />
                                    <span asp-validation-for="DtPres" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtName" class="control-label">ผู้ประสานงาน</label>
                                    <input asp-for="DtName" class="form-control" />
                                    <span asp-validation-for="DtName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtPosition" class="control-label">ตำแหน่ง</label>
                                    <input asp-for="DtPosition" class="form-control" />
                                    <span asp-validation-for="DtPosition" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtTel" class="control-label">โทรศัพท์</label>
                                    <input asp-for="DtTel" class="form-control" />
                                    <span asp-validation-for="DtTel" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtEmail" class="control-label">e-mail ภาครัฐ</label>
                                    <input asp-for="DtEmail" class="form-control" />
                                    <span asp-validation-for="DtEmail" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtControl" class="control-label">ผู้ควบคุม</label>
                                    <input asp-for="DtControl" class="form-control" />
                                    <span asp-validation-for="DtControl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtPos2" class="control-label">ตำแหน่ง</label>
                                    <input asp-for="DtPos2" class="form-control" />
                                    <span asp-validation-for="DtPos2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="DtTel2" class="control-label">โทรศัพท์</label>
                                    <input asp-for="DtTel2" class="form-control" />
                                    <span asp-validation-for="DtTel2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input asp-for="Users" type="hidden" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input form-check-warning form-check-glow" asp-for="Borrow">
                                <label asp-for="Borrow" class="control-label"></label> <span class="text-danger">*กรุณาเลือกถ้ามีการยืมครุภัณฑ์</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <p></p> <input type="submit" value="บันทึก" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div>
                        <a onclick="window.history.back()" href="#"> ย้อนกลับ</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{<div class="main-content container-fluid">
    <section class="section">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">แจ้งเตือน</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <BR><h1><span class="text-danger">ไม่มีสิทธิ์แก้ไข</span></h1><BR>
                    </div>
                </div>
                <div class="text-danger"> <p>@ViewData["ErrorLogin"]</p></div>
                <div>
                    <a onclick="window.history.back()" href="#"> ย้อนกลับ</a>
                </div>
            </div>
        </div>
    </section>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
