@using ict;
@model ict.Models.ConferenceModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<ConferenceModel> displaydata = ViewData["Results"] as IEnumerable<ConferenceModel>;

}

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>รายการจอง Tele Conference</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item active" aria-current="page">รายการจอง Tele Conference</li>*@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <a asp-action="Create" class="btn btn-success sm">+ เพิ่มรายการ</a>
                <p></p>
                <table class='table table-striped' id="table1" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center" style="white-space:nowrap">ผู้ขอใช้งาน</th>
                            <th class="text-center" style="white-space:nowrap">หน่วยงาน</th>
                            <th class="text-center" style="white-space:nowrap">เรื่อง/หัวข้อประชุม</th>
                            <th class="text-center" style="white-space:nowrap">ผู้เข้าร่วมประชุม</th>
                            <th class="text-center" style="white-space:nowrap">วันที่ประชุม</th>
                            <th class="text-center" style="white-space:nowrap">สถานที่</th>
                            <th class="text-center" style="white-space:nowrap">สถานะ</th>
                            <th class="text-center" style="white-space:nowrap">รายละเอียด</th>
                            @if (ViewData["Username"] != null)
                            {
                                <th class="text-center">ลบ</th>
                            }
                            @if (ViewBag.Message == "2")
                            {
                                <th class="text-center">อนุมัติ</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in displaydata)
                        {
                            <tr>
                                <td style="white-space:nowrap">@item.ConName</td>
                                <td>@item.ConDept</td>
                                <td>@item.DtTitle</td>
                                <td>@item.Participant</td>
                                <td>@item.DtDate</td>
                                <td width="60%">@item.DtState</td>
                                <td>
                                    @if (@item.Status == 2)
                                    {
                                        <a href="#" class="badge bg-success"><i data-feather="circle" width="20"></i></a>
                                    }
                                    else if (@item.Status == 1)
                                    {
                                        <a href="#" class="badge bg-danger"><i data-feather="slash" width="20"></i></a>
                                    }
                                    else
                                    {
                                        <a href="#" class="badge bg-primary"><i data-feather="slash" width="20"></i></a>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Conference"
                                       asp-action="Detail"
                                       asp-route-id="@item.ConID" class="btn btn-primary btn-sm ">
                                        <i data-feather="file-text" width="20"></i>
                                    </a>

                                </td>
                                @if (ViewData["Username"] != null)
                                {
                                    <td style="white-space:nowrap">
                                        <a asp-controller="Conference"
                                           asp-action="Edit"
                                           asp-route-id="@item.ConID" class="btn btn-secondary btn-sm ">
                                            <i data-feather="edit" width="20"></i> แก้ไข
                                        </a>
                                        <a asp-controller="Conference"
                                           asp-action="Delete"
                                           asp-route-id="@item.ConID" class="btn btn-danger btn-sm ">
                                            <i data-feather="trash-2" width="20"></i>
                                        </a>

                                    </td>
                                }
                                @if (ViewBag.Message == "2")
                                {
                                    <td>

                                        <a asp-controller="Conference"
                                           asp-action="Update"
                                           asp-route-id="@item.ConID" class="btn btn-success btn-sm "><i data-feather="settings" width="20"></i></a>

                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
