@model ict.Models.Login
@{

    IEnumerable<Login> GetUser = ViewData["GetUser"] as IEnumerable<Login>;
    IEnumerable<OfficeModel> Officedata = ViewData["Officedata"] as IEnumerable<OfficeModel>;
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">

    function checkpass() {
        if (document.getElementById('newpass').value == "" &&
            document.getElementById('conpass').value == "") {
            alert('กรุณากรอกข้อมูลให้ครบและถูกต้อง');
            return false;
        }
    }
</script>

<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("newpass").value;
        var confirmPassword = document.getElementById("conpass").value;
        if (password != confirmPassword) {
            alert("กรุณากรอก PASSWORD ให้ตรงกัน");
            return false;
        }
        return true;
    }
</script>

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>แก้ไขข้อมูลผู้ใช้</h3>
                @*<p class="text-subtitle text-muted">Textarea with rich features </p>*@
            </div>
        </div>

    </div>
    <hr />
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> @Html.DisplayFor(model => model.fullname)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Password" onSubmit="JavaScript:return checkpass();">
                            @{ foreach (var item in GetUser)
                                {
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label"></label>
                                        <input asp-for="UserName" class="form-control" value="@item.UserName" disabled />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" id="newpass" type="password" onkeypress="checkPasswordMatch();" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">ยืนยัน PASSWORD</label>
                                        <input class="form-control" name="conpass" id="conpass" type="password" onkeypress="checkPasswordMatch();" />
                                    </div>
                                    
                                    <div class="form-group">
                                        <label asp-for="OfficeName" class="control-label">หน่วยงาน</label>

                                        <select asp-for="OfficeName" class="form-select">
                                            @{foreach (var item2 in Officedata)
                                                {
                                                    if (item.OfficeName == item2.OfficeName)
                                                    {
                                                        <option value="@item2.OfficeName" selected="selected">@item2.OfficeName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item2.OfficeName">@item2.OfficeName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        @*<input asp-for="OfficeName" class="form-control" value="@item.OfficeName" />*@
                                        <span asp-validation-for="OfficeName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="fullname" class="control-label"></label>
                                        <input asp-for="fullname" class="form-control" value="@item.fullname" />
                                        <span asp-validation-for="fullname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" asp-for="UserId" value="@item.UserId" />
                                        <div>@ViewData["messge"]</div>
                                        <input type="submit" value="บันทึก" class="btn btn-success" id="save" onclick="return Validate()" />
                                    </div>
                                }
                            }
                        </form>
                    </div>
                </div>
                <div>
                    <a onclick="window.history.back()" href="#"><< ย้อนกลับ</a>
                </div>
            </div>
        </div>
    </section>
</div>
