@model ict.Models.BorrowsAddModel

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>รายละเอียดการขอยืม</h3>
                @*<p class="text-subtitle text-muted">Textarea with rich features </p>*@
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item"><a asp-action="Index">การขอยืมครุภัณฑ์</a></li>
                            <li class="breadcrumb-item active" aria-current="page">รายละเอียดการขอยืม</li>*@
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <hr />
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> @Html.DisplayFor(model => model.Subject)</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>*@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Dept)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Dept)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Objectives)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Objectives)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Sdate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Sdate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Edate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Edate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NameAdd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameAdd)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tel)
                    </dd>
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Checks)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Checks)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cdetail)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cdetail)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cname)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cname)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CheadCheck)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CheadCheck)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CheadDetail)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CheadDetail)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CheadName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CheadName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CeckCon)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CeckCon)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CeckConDetail)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CeckConDetail)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CeckConName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CeckConName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CCHead)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CCHead)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CCHeadDetail)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CCHeadDetail)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CCHeadName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CCHeadName)
                        </dd>*@
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Dates)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Dates)
                        </dd>*@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Notebook)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Notebook)

                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Notebook)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tablet)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tablet)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Tablet)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Camera)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Camera)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Camera)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tripod)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tripod)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Tripod)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Speaker)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Speaker)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Speaker)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Projector)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Projector)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Projector)
                    </dd>
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Users)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Users)
                        </dd>*@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @*@Html.DisplayFor(model => model.Status)*@
                        @{ string st = Model.Checks;
                            @if (st == "1")
                            {
                                <a href="#" class="badge bg-success">อนุมัติ</a>
                            }
                            else if (st == "2")
                            {
                                <a href="#" class="badge bg-danger">ไม่อนุมัติ</a>
                            }
                            else if (st == "0")
                            {
                                <a href="#" class="badge bg-secondary">รออนุมัติ</a>
                            }
                        }
                    </dd>
                </dl>
                <div>
                    <a onclick="window.history.back()" href="#"><< ย้อนกลับ</a>
                </div>
            </div>
        </div>

    </section>

    @if (Model.Status != 0)
    {
        <section class="section">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <h4>สำหรับเจ้าหน้าที่ตรวจสอบ</h4>
                        </div>
                        <div class="card-body">
                            <div class="badges">

                                @if (Model.Checks == "1")
                                {
                                    <label class="form-check-label" for="Danger">มีอุปกรณ์</label>
                                }
                                else
                                {
                                    <label class="form-check-label" for="Danger">ไม่มีอุปกรณ์</label>
                                }
                                <br /><label class="form-check-label" for="Danger">เหตุผล : @Model.Cdetail </label>
                                <br /><label class="form-check-label" for="Danger">ผู้รับผิดชอบดูแล : @Model.Cname </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <h4>สำหรับเจ้าหน้าที่ตรวจสอบคืน</h4>
                        </div>
                        <div class="card-body">
                            <div class="badges">
                                @if (Model.CeckCon == "1")
                                {
                                    <label class="form-check-label" for="Danger">สภาพปกติ</label>
                                }
                                else
                                {
                                    <label class="form-check-label" for="Danger">ชำรุด</label>
                                }
                                <br /><label class="form-check-label" for="Danger">เหตุผล : @Model.CeckConDetail </label>
                                <br /><label class="form-check-label" for="Danger">ผู้รับผิดชอบตรวจสอบ : @Model.CeckConName </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <h4>หัวหน้าเจ้าหน้าที่</h4>
                        </div>
                        <div class="card-body">
                            <div class="badges">
                                <br /><label class="form-check-label" for="Danger">@Model.CheadName </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <h4>หัวหน้าเจ้าหน้าที่</h4>
                        </div>
                        <div class="card-body">
                            <div class="badges">
                                <br /><label class="form-check-label" for="Danger">@Model.CCHeadName </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>
