@model ict.Models.BorrowsAddModel;
@using ict.Models
@{

    IEnumerable<BorrowModel> Bowdata = ViewData["Res"] as IEnumerable<BorrowModel>;
    IEnumerable<ListHardWare> HardWare = ViewData["HardWare"] as IEnumerable<ListHardWare>;
    IEnumerable<Login> NameAdd = ViewData["NameAdd"] as IEnumerable<Login>;
}

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>*@
<script type="text/javascript">
    function checkOther() {
        document.forms["Acction"]["type_other"].disabled = true;
    }
    function checkOther2() {
        document.forms["Acction"]["type_other"].disabled = false;
    }
</script>
<script type="text/javascript">
    function CheadCheck() {
        document.forms["Acction"]["type_other2"].disabled = true;
    }
    function CheadCheck2() {
        document.forms["Acction"]["type_other2"].disabled = false;
    }
</script>

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>รายละเอียดการขอยืม</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item"><a asp-action="Index">การขอยืมครุภัณฑ์</a></li>
                            <li class="breadcrumb-item active" aria-current="page">รายละเอียดการขอยืม</li>*@
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <hr />
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> @Html.DisplayFor(model => model.Subject)</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Dept)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Dept)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Objectives)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Objectives)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Sdate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Sdate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Edate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Edate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NameAdd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameAdd)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tel)
                    </dd>
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Dates)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Dates)
                        </dd>*@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Notebook)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Notebook)

                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Notebook)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tablet)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tablet)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Tablet)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Camera)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Camera)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Camera)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tripod)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tripod)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Tripod)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Speaker)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Speaker)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Speaker)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Projector)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Projector)
                        &nbsp;&nbsp;จำนวน: @Html.DisplayFor(model => model.n_Projector)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @{ string st = Model.Checks;
                            @if (st == "1")
                            {
                                <a href="#" class="badge bg-success">อนุมัติ</a>
                            }
                            else if (st == "2")
                            {
                                <a href="#" class="badge bg-danger">ไม่อนุมัติ</a>
                            }
                            else if (st == "0")
                            {
                                <a href="#" class="badge bg-secondary">รออนุมัติ</a>
                            }
                        }
                    </dd>
                </dl>
                <div class="card">
                    <div class="card-header">
                        <h3>รายการที่ยืม</h3>
                    </div>
                    <div class="card-body">
                        <table class='table table-striped' id="table">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>รายการ</th>
                                    <th>เลขทะเบียน</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var HW in HardWare)
                                {
                                    <tr>
                                        <td>#</td>
                                        <td>@HW.Names</td>
                                        <td>@HW.Number</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <a onclick="window.history.back()" href="#">ย้อนกลับ</a>
                </div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <p><h3>เลือกครุภัณฑ์</h3></p>
                <form asp-action="Edit_Checks" name="Acction" >
                    <table class='table table-striped' id="table1">
                        <thead>
                            <tr>
                                <th>เลือก</th>
                                <th>หมายเลขครุภัณฑ์</th>
                                <th>ชื่อครุภัณฑ์</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var it in Bowdata)
                            {

                                <tr>
                                    <td>
                                        <input id="@it.B_Id" type="checkbox" name="B_Id" value="@it.B_Id" class="form-check" />
                                        <input type="hidden" value="@Html.DisplayFor(model => model.Id)" name="Bor_id" />
                                        <input type="hidden" value="@Html.DisplayFor(model => model.Dates)" name="tdate" />
                                    </td>
                                    <td>@it.B_number</td>
                                    <td>@it.B_Name</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="badges">
                        <div class="form-group">
                            <label asp-for="Cname" class="control-label">ผู้รับผิดชอบ :</label>
                            <select asp-for="Cname" class="form-control">
                                @*<option disabled selected>กรุณาเลือก</option>*@
                                @foreach (var item2 in NameAdd)
                                {
                                    <option value="@item2.fullname">@item2.fullname</option>
                                }
                            </select>
                            <span asp-validation-for="Cname" class="text-danger"></span>
                            <p>
                        </div>
                        <div class="form-check form-check-success">
                            <input class="form-check-input" type="radio" asp-for="Checks" id="Checks" onclick="checkOther();" value="1">
                            <label class="form-check-label" for="Success">อนุมัติ</label>
                        </div>
                        <div class="form-check form-check-danger">
                            <input class="form-check-input" type="radio" asp-for="Checks" id="Checks" onclick="checkOther2();" value="2">
                            <label class="form-check-label" for="Danger">ไม่อนุมัติ เนื่องจาก</label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Cdetail" class="form-control" id="type_other" />
                            <span asp-validation-for="Cdetail" class="text-danger"></span>
                        </div>
                        <input asp-for="Id" type="hidden" />
                        <input type="hidden" asp-for="Sdate" />
                        <input type="hidden" asp-for="Edate" />
                        <input type="hidden" asp-for="Subject" />
                        <input type="hidden" asp-for="Dept" />

                    </div>

                    <p></p> <input type="submit" value="บันทึก" class="btn btn-success" />
                </form>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                @if (Model.Checks != "0" && Model.CheadCheck != "0" && Model.CeckCon == "0")
                {
                    <form asp-action="Edit2" name="frm3">
                        <div class="card">
                            <div class="card-header">
                                <h4>สำหรับเจ้าหน้าที่ตรวจสอบคืน</h4>
                            </div>
                            <div class="card-body">
                                <div class="badges">
                                    <div class="form-check form-check-danger">
                                        <input asp-for="CeckCon" class="form-check-input" type="radio" name="CeckCon" id="CeckCon" onclick="CheadCheck();" value="1">
                                        <label class="form-check-label" for="Danger">ปกติ</label>
                                    </div>
                                    <div class="form-check form-check-success">
                                        <input asp-for="CeckCon" class="form-check-input" type="radio" name="CeckCon" id="CeckCon" onclick="CheadCheck2();" value="2">
                                        <label class="form-check-label" for="Success">ชำรุด เนื่องจาก</label>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CeckConDetail" class="control-label"></label>
                                        <input asp-for="CeckConDetail" class="form-control" id="type_other2" />
                                        <span asp-validation-for="CeckConDetail" class="text-danger"></span>
                                    </div>
                                    <input asp-for="Id" type="hidden" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group">
                                    <p></p> <input type="submit" value="บันทึก" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                @if (Model.Checks != "0" && Model.CheadCheck != "0" && Model.CeckCon != "0" && Model.CCHead == "0")
                {
                    <form asp-action="Edit3" name="frm22">
                        <div class="card">
                            <div class="card-header">
                                <h4>หัวหน้าเจ้าหน้าที่</h4>
                            </div>
                            <div class="card-body">
                                <div class="badges">
                                    <div class="form-check form-check-danger">
                                        <input asp-for="CCHead" class="form-check-input" type="radio" onclick="CeckCon();" value="1">
                                        <label class="form-check-label" for="Danger">อนุมัติ</label>
                                    </div>
                                    <div class="form-check form-check-success">
                                        <input asp-for="CCHead" class="form-check-input" type="radio" onclick="CeckCon2();" value="2">
                                        <label class="form-check-label" for="Success">ไม่อนุมัติเนื่องจาก</label>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CCHeadDetail" class="control-label"></label>
                                        <input asp-for="CCHeadDetail" class="form-control" id="type_other3" />
                                        <span asp-validation-for="CCHeadDetail" class="text-danger"></span>
                                    </div>
                                    <input asp-for="Id" type="hidden" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group">
                                    <p></p> <input type="submit" value="บันทึก" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <a onclick="window.history.back()" href="#"><< ย้อนกลับ</a>
        </div>
    </section>
</div>
