@using ict;
@model ict.Models.BorrowModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<BorrowModel> displaydata = ViewData["Results"] as IEnumerable<BorrowModel>;

}

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>ขออนุมัติยืมครุภัณฑ์</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item active" aria-current="page">ขออนุมัติยืมครุภัณฑ์</li>*@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <a asp-action="Create" class="btn btn-success sm">ขออนุมัติยืมครุภัณฑ์</a>
                <p></p>
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                            <th>หมายเลขครุภัณฑ์</th>
                            <th>ชื่อครุภัณฑ์</th>
                            <th>สถานะการยืมเช้า</th>
                            <th>สถานะการยืมบ่าย</th>
                            <th>สถานะการยืมทั้งวัน</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in displaydata)
                        {
                            <tr>
                                <td>@item.B_number</td>
                                <td>@item.B_Name</td>
                                <td>
                                    @if (@item.B_mor == 0)
                                    {
                                        <a href="#" class="badge bg-success">ว่าง</a>
                                    }
                                    else if (@item.B_mor == 1)
                                    {
                                        <a href="#" class="badge bg-danger">ไม่ว่าง</a>
                                    }
                                </td>
                                <td>
                                    @if (@item.B_after == 0)
                                    {
                                        <a href="#" class="badge bg-success">ว่าง</a>
                                    }
                                    else if (@item.B_after == 1)
                                    {
                                        <a href="#" class="badge bg-danger">ไม่ว่าง</a>
                                    }
                                </td>
                                <td>
                                    @if (@item.B_after == 0 && @item.B_mor == 0)
                                    {
                                        <a href="#" class="badge bg-success">ว่าง</a>
                                    }
                                    else 
                                    {
                                        <a href="#" class="badge bg-danger">ไม่ว่าง</a>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>